### Importing Libraries and Dataset

In [204]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


df_Food= pd.read_csv('https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding = "latin-1")
df_Food.head(5)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

### Question1

In [205]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

#data1 = pd.DataFrame (lst,columns=col,index=[i for i in range(1,4)]) OR
data1 = pd.DataFrame (lst,columns=col,index=[1,2,3])
data1

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

### Question 3 - What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [206]:
#What is the total number and percentage of missing data in 2014 to 3 decimal places?

df_Food['Y2014'].isnull().sum() #1589
df_Food['Y2014'].size # 60943

60943

In [208]:
df_Food['Y2014'].size # 60943

60943

In [209]:
missing_data_percent = df_Food['Y2014'].isnull().sum() /df_Food['Y2014'].size *100
missing_data_percent
print(str(missing_data_percent) + '%')

2.6073544131401474%

###  Question 4

In [210]:
my_tuppy = (1,2,5,8)

#my_tuppy[2] = 6  

##Answer is a Type Error

###  Question 5

In [211]:
## Number of rows and columns is checked by df.shape
df_Food.shape

(60943, 12)

### Question 6 and 7

In [212]:
#6) #What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

#7) Math is a Module, the other options are libraries

'e'

### Question 8 - Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [215]:
#Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

years = ['Y2014','Y2015','Y2016','Y2017','Y2018']
stock_Variation = df_Food.groupby('Element')[years].sum()
stock_Variation.loc['Stock Variation'].sort_values(ascending= False)

#Answer is 2014

Y2014    58749.83
Y2017    54316.91
Y2015    34910.99
Y2016    33140.12
Y2018    20577.91
Name: Stock Variation, dtype: float64

### Question 9 - What is the total Protein supply quantity in Madagascar in 2015?

In [216]:
# What is the total Protein supply quantity in Madagascar in 2015?
#df_Food 
df_Food.groupby(['Area','Element'])['Y2015'].sum().to_frame().loc['Madagascar','Protein supply quantity (g/capita/day)']

Y2015    173.05
Name: (Madagascar, Protein supply quantity (g/capita/day)), dtype: float64

### Question 10 - Which of the following dataframe methods can be used to access elements across rows and columns?

In [217]:
#Which of the following dataframe methods can be used to access elements across rows and columns?

# Answer = df.iloc[ : ]

### Question 11 - What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [218]:
# What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?
df_Food.describe()[['Y2017']]

#mean is 140.17765
#std is 1671.862359

               Y2017
count   59437.000000
mean      140.917765
std      1671.862359
min     -1582.000000
25%         0.000000
50%         0.100000
75%         9.000000
max    190873.000000

### Question 12 - A pandas Dataframe with dimensions (100,3) has how many features and observations?

In [219]:
#Answer - 3 features, 100 observations

### Question 13 - What is the total number of unique countries in the dataset?

In [220]:
df_Food['Area'].nunique()
#49

49

### Question 14

In [221]:
array  = ([[94, 89, 63], [93, 92, 48],[92, 94, 56]])
array[:2]

# Option D is the likely answer

[[94, 89, 63], [93, 92, 48]]

### Question 15 - Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [222]:
df_Food.groupby('Area')['Y2017'].sum().to_frame().sort_values(by='Y2017').head(7)

#Guinea-Bissau

                          Y2017
Area
Sudan (former)             0.00
Ethiopia PDR               0.00
Comoros                   59.84
Seychelles               442.34
Sao Tome and Principe  12662.63
Cabo Verde             14650.74
Guinea-Bissau          19102.77

### Question 16 - What is the total sum of Wine produced in 2015 and 2018 respectively?

In [223]:
wine = df_Food.groupby('Item')[['Y2015','Y2018']].sum()
wine.loc['Wine']

#Y2015    4251.81
#Y2018    4039.32

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64

### Question 17 - Which year had the least correlation with ‘Element Code’?

In [224]:
df_Food.corr().loc['Element Code'].sort_values()
#2016

Item Code      -0.024683
Area Code      -0.000209
Y2016           0.023444
Y2015           0.023889
Y2017           0.024254
Y2018           0.024279
Y2014           0.024457
Element Code    1.000000
Name: Element Code, dtype: float64

### Question 18 - How would you assign element 8 from the list to a variable x?

In [225]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
x

8

### Question 19 - Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [226]:
df_Food.groupby('Element')[['Y2017']].sum()

## Answer is 292836.00

                                             Y2017
Element
Domestic supply quantity                2088198.10
Export Quantity                          182338.80
Fat supply quantity (g/capita/day)        10253.84
Feed                                     223705.68
Food                                    1258888.28
Food supply (kcal/capita/day)            454681.00
Food supply quantity (kg/capita/yr)       48690.04
Import Quantity                          294559.09
Losses                                   160614.00
Other uses (non-food)                     91645.97
Processing                               292836.00
Production                              2030056.89
Protein supply quantity (g/capita/day)    11842.45
Residuals                                 35500.00
Seed                                      24870.14
Stock Variation                           54316.91
Total Population - Both sexes           1112641.00
Tourist consumption                          91.00

### Question 20  - Which of these Areas had the highest sum in 2017?

In [227]:
area = df_Food.groupby('Area')[['Y2017']].sum().reset_index()
area
area.iloc[[34,16,13,40,22]].sort_values(by='Y2017',ascending =False)

#Nigeria South Africa Egypt Ethiopia Kenya


#Answer -  Nigeia

            Area       Y2017
34       Nigeria  1483268.23
13         Egypt   866379.92
40  South Africa   517590.54
22         Kenya   264660.66
16  Ethiopia PDR        0.00